.not-found {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.not-found img{
    display: block;
    margin: 0 auto;
}

.not-found a{
    display: block;
    font-weight: bold;
    color: #36627b !important;
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}